{% extends "home.html" %}

{% block content %}

{% if request.user.is_authenticated %}



<div>
    <div class="container-fluid text-center p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle">
        <h1> Log Out</h1>
    </div>
    <form method = "POST">
        {% csrf_token %}
        <p>Are you sure you want to logout ?</p>
        <button type="submit" class="btn btn-primary">Log Out</button>
        <!-- <button type="submit"> Cancel </button> -->
    </form>
</div>    
        

{% else %}
    <p> You're not logged in! Would you like to <a href = '/login/'>login</a> ?</p>
{% endif %}

{% endblock content %}