{% extends "home.html" %}

{% block content %}

{% if not request.user.is_authenticated %}

<!-- <!DOCTYPE html>
<html>
    <head>
        <title>
            Sign in 
        </title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    </head> -->
    <body >
        <!-- <nav class="navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="welcomep1.html">Home</a>
            </div>
          </nav> -->


        <div class="container-fluid text-center p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle">
            <h1>Sign In</h1>
        </div>

        <div class="container-fluid mx-auto p-2" style="width: 300px;">

          <form method = "POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            <!-- <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" name = "username" width ="50" class="form-control" id="username" >
            </div>

            

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name = "password" class="form-control" id="password"> -->
            <!-- </div> -->
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
{% else %}
        <p> You're already logged in! Would you like to <a href = '/logout/'>logout</a> ?</p>
{% endif %}        
       
    </body>
{% endblock content %}   
<!-- </html> -->